<% @title = "ログイン" %>

<div id="login-form">
  <h1><%= @title %></h1>

  <%= form_for @form, url: :customer_session do |f| %>
    <div>
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
</div>
