<% p = ProgramPresenter.new(program, self) %>
<tr>
  <td><%= p.title %></td>
  <td class="date"><%= p.application_start_time %></td>
  <td class="date"><%= p.application_end_time %></td>
  <td class="numeric"><%= p.min_number_of_participants %></td>
  <td class="numeric"><%= p.max_number_of_participants %></td>
  <td class="numeric"><%= p.number_of_applicants %></td>
  <td><%= p.registrant %></td>
  <td class="actions">
    <%= link_to "詳細", [ :staff, program ] %> |
    <%= link_to "編集", [ :edit, :staff, program ] %> |
    <%= link_to "削除", [ :staff, program ], method: :delete,
      data: { confirm: "本当に削除しますか？ " } %>
  </td>
</tr>