<% @title = "プログラムの編集" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @program, url: [ :staff, @program ] do |f| %>
    <%= render "form", f: f %>
    <div class="buttons">
      <%= f.submit "更新" %>
      <%= link_to "キャンセル", :staff_programs %>
    </div>
  <% end %>
</div>