<% @title = "プログラム管理" %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "新規登録", :new_staff_program %>
  </div>

  <%= paginate @programs %>

  <table class="listing">
    <tr>
      <th>タイトル</th>
      <th>申し込み開始日時</th>
      <th>申し込み終了日時</th>
      <th>最小参加者数</th>
      <th>最大参加者数</th>
      <th>申し込み件数</th>
      <th>登録職員</th>
      <th>アクション</th>
    </tr>
    <%= render partial: "program", collection: @programs %>
  </table>

  <%= paginate @programs %>

  <div class="links">
    <%= link_to "新規登録", :new_staff_program %>
  </div>
</div>
