<% @title = "パスワード変更" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @change_password_form, url: :staff_password,
         method: :patch do |f| %>
    <%= markup do |m|
      p = FormPresenter.new(f, self)
      p.with_options(required: true, size: 32) do |q|
        m << q.password_field_block(:current_password, "現在のパスワード")
        m << q.password_field_block(:new_password, "新しいパスワード")
        m << q.password_field_block(:new_password_confirmation,
          "新しいパスワード（確認）")
      end
    end %>
    <div class="buttons">
      <%= f.submit "変更" %>
      <%= link_to "キャンセル", :staff_account %>
    </div>
  <% end %>
</div>
