<% @title = "パスワード変更" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_for @change_password_form, url: :staff_password,
         method: :patch do |f| %>
    <div>
      <%= f.label :current_password, "現在のパスワード" %>
      <%= f.password_field :current_password, size: 32, required: true %>
    </div>
    <div>
      <%= f.label :new_password, "新しいパスワード" %>
      <%= f.password_field :new_password, size: 32, required: true %>
    </div>
    <div>
      <%= f.label :new_password_confirmation, "新しいパスワード（確認）" %>
      <%= f.password_field :new_password_confirmation, size: 32,
        required: true %>
    </div>
    <%= markup do |m|
      p = FormPresenter.new(f, self)
      p.with_options(required: true, size: 32) do |q|
        m << q.password_field_block(:current_password, "現在のパスワード")
        m << q.password_field_block(:new_password, "新しいパスワード")
        m << q.password_field_block(:new_password_confirmation,
          "新しいパスワード（確認）")
      end
    end %>
    <div class="buttons">
      <%= f.submit "変更" %>
      <%= link_to "キャンセル", :staff_account %>
    </div>
  <% end %>
</div>
