<%= FormPresenter.new(f, self).notes %>
<fieldset id="customer-fields">
  <legend>基本情報</legend>
  <%= render "customer_fields", f: f, confirming: false %>
</fieldset>
<div class="check-boxes">
  <%= f.check_box :inputs_home_address %>
  <%= f.label :inputs_home_address, "自宅住所を入力する" %>
</div>
<fieldset id="home-address-fields">
  <legend>自宅住所</legend>
  <%= render "home_address_fields", f: f, confirming: false %>
</fieldset>
<div class="check-boxes">
  <%= f.check_box :inputs_work_address %>
  <%= f.label :inputs_work_address, "勤務先を入力する" %>
</div>
<fieldset id="work-address-fields">
  <legend>勤務先</legend>
  <%= render "work_address_fields", f: f, confirming: false %>
</fieldset>
