<% @title = "顧客アカウントの編集" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @customer_form, scope: :form,
        url: [ :staff, @customer_form.customer ] do |f| %>
    <%= render "form", f: f %>
    <div class="buttons">
      <%= f.submit "更新" %>
      <%= link_to "キャンセル", :staff_customers %>
    </div>
  <% end %>
</div>
